@{
    ViewBag.Title = "Manage Account";
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}
<div class="container">
    <h2 style="margin-bottom:35px;">Account Information for @Model.UserName</h2>
    <div class="dash-section">
        <h4><a href="~/Account/ChangePassword">Change Password</a></h4>
        <ul>
            <li>
                Update password for this account.
            </li>
        </ul>
    </div>
    <div class="dash-section">
        <h4><a href="~/Account/ChangeSecurityQuestion">Change Security Question</a></h4>
        <ul>
            <li>
                Update security questions for this account.
            </li>
            <li style="font-weight:700">
                These questions will be used to recover account if password is forgotten.
            </li>
        </ul>
    </div>
</div>