@{
   ViewBag.Title = "Register";
    Layout = @Url.Content("~/Views/Shared/_PublicLayout.cshtml");
}

<div class="container" style="padding-top:80px;">
    <div class="jumbotron">
        <h1>Thank you!</h1>
        <br /> 
        <p>On behalf of all us at FARMSdatabase.com, we thank you for using our tools to help manage your herd.</p>
        <br />        
        <p>You are now able to login using the email and password you just used to register. Keep them in a safe place. As a thank you for registering, we are giving you your first 3 months free!</p>
        <br />
        <p>Log in and then click on "Dashboard" near the top to get started. To view your account information, log in and then click your name in the top right.</p>
        <br />
        <p>
            <a class="btn btn-info btn-lg" href="~/Account/Login" role="button">Log in Now</a>
            <a class="btn btn-default btn-lg" href="~/Home/Index" role="button">Back to Home</a>
        </p>
    </div>   
</div>