@{
   ViewBag.Title = "Register";
    Layout = @Url.Content("~/Views/Shared/_PublicLayout.cshtml");
}

<div class="container" style="padding-top:80px;">
    <div class="jumbotron">
        <h1>Thank you!</h1>
        <br /> 
        <p>On behalf of all us at FARMSdatabase.com, we thank you for using our tools to help manage your herd.</p>
        <br />        
        <p>A confimation email has been sent to you with instructions on how to get started.</p>
        <br /> 
        <p><a class="btn btn-primary btn-lg" href="~/Home/Index" role="button">Back to Home</a></p>
    </div>   
</div>