@{
    ViewBag.Title = "About Goat Herd Management";
    Layout = @Url.Content("~/Views/Shared/_PublicLayout.cshtml"); 
}
<div>
    <img src="~/Content/imgs/k_barn2.jpg" class="img-responsive" style="height: 250px; width: 100%; margin-top: -60px" />
</div>

<div class="container" style="padding-top: 65px;">
    <div class="jumbotron">
        <h1>FARMSdatabase</h1>
        <p>FARMS (Farm Animal Record Management System) was created by Dr. Nadarajah to help farmers with record keeping.</p>
        <p><a class="btn btn-primary btn-lg" href="http://www.auburn.edu/~nadarka/" role="button">Learn more about Dr. Nadarajah</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">What do we do?</h3>
                </div>
                <div class="panel-body">
                    The goal of FARMSdatabase is to provide a reliable cloud
                    database for farmers to store information about their livestock and compare with others.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Why are we here?</h3>
                </div>
                <div class="panel-body">
                    With a rising demand for goat meat, farmers need to be more productive and efficient than ever.
                    Record keeping is essential for farmers to keep track of everything in their herd - and that's why
                    we're here.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Who can use our service?</h3>
                </div>
                <div class="panel-body">
                    Anybody that has a herd to manage and wants to be a more percise and efficient farmer can use
                    our service. If that description fits you, the power of herd management can be in your hands with
                    quick registration and a small fee.
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#active-about").addClass("active");
            $("#nav").css({ "margin-top": "250px" });
        });
    </script>
</div>