@{
    ViewBag.Title = "About Goat Herd Management";
}

<div class="jumbotron">
    <h1>FARMSconnect</h1>
    <p>FARMS (Farm Animal Record Management System) was created by Dr. Nadarajah to help farmers with record keeping.</p>
    <p><a class="btn btn-primary btn-lg" href="http://www.auburn.edu/~nadarka/" role="button">Learn more about Dr. Nadarajah</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.Message</h3>
            </div>
            <div class="panel-body">
                The goal of Goat Herd Management is to provide a reliable cloud
                database for farmers to store information about their livestock and compare with others.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.Message</h3>
            </div>
            <div class="panel-body">
                The goal of Goat Herd Management is to provide a reliable cloud
                database for farmers to store information about their livestock and compare with others.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.Message</h3>
            </div>
            <div class="panel-body">
                The goal of Goat Herd Management is to provide a reliable cloud
                database for farmers to store information about their livestock and compare with others.
            </div>
        </div>
    </div>
</div>
