@{
    ViewBag.Title = "Contact Us";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Nada K. Nadarajah, Ph.D<br />
        Research Fellow IV<br />
        Department of Animal Sciences<br />
        214 Ann Upchurch Hall<br />
        Auburn University, AL 36849-5415<br />
        Tel: (334) 844-1502<br />
        Fax: (334)-844-1519<br />
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Email:</strong>   <a href="mailto:nadarka@auburn.edu">nadarka@auburn.edu</a><br />
    </address>
</div>