@{
    ViewBag.Title = "Contact Us";
    Layout = @Url.Content("~/Views/Shared/_PublicLayout.cshtml"); 
}
<div class="container" style="padding-top: 70px;">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#active-contact").addClass("active");
            $("#layout-header").css({ "background-image": "url(/Content/imgs/header3.png)", "color": "white"});
        });
    </script>
</div>