@using System.Web.Security;
@{
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container" style="padding-top: 15px; padding-bottom: 15px;">
        <div class="dash-section">
            <h4><a href="~/Animal/Index">Manage Animals</a></h4>
            <ul>
                <li>
                    View all animals in your herd.
                </li>
                <li>
                    Add an animal to your herd.
                </li>
            </ul>
        </div>
        <div class="dash-section">
            <h4><a href="~/Transaction/Index">Manage Transactions</a></h4>
            <ul>
                <li>
                    View past transactions.
                </li>
                <li>
                    Add a new transaction.
                </li>
            </ul>
        </div>
        <div class="dash-section">
            <h4><a href="~/Associate/Index">Manage Associates</a></h4>
            <ul>
                <li>
                    View associates that you have worked with.
                </li>
                <li>
                    Add an associate.
                </li>
            </ul>
        </div>
        <div class="dash-section">
            <h4><a href="~/Treatment/Index">Manage Health Records</a></h4>
            <ul>
                <li>
                    View animal health records and treatments.
                </li>
                <li>
                    Add a new treatment.
                </li>
            </ul>
        </div>
        <div class="dash-section">
            <h4><a href="~/Breeding/Index">Manage Breeding Records</a></h4>
            <ul>
                <li>
                    View breeding and birth records.
                </li>
                <li>
                    Add a new breeding record.
                </li>
            </ul>
        </div>
        <div class="dash-section">
            <h4><a href="">Generate Reports</a></h4>
            <ul>
                <li>
                    Generate reports of your herd.
                </li>
                <li>
                    Export to excel.
                </li>
            </ul>
        </div>
        @if (User.IsInRole("admin"))
        {
        <div class="dash-section">
            <h4><a href="~/Account/CreateAdmin">Add Admin Account</a></h4>
            <ul>
                <li>
                    Add another admin account.
                </li>
                <li>
                    Admins can see all data and can create other admins.
                </li>
            </ul>
        </div> 
        }
        @if (User.IsInRole("admin"))
        {
            <div class="dash-section">
                <h4><a href="~/Comments/Index">View Comments</a></h4>
                <ul>
                    <li>
                        View user feedback.
                    </li>
                </ul>
            </div>
        }
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $("#active-dashboard").addClass("active");
    });
</script>
