@using System.Web.Security;
@{
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}
<div id="spinner">    
<div class="container" style="padding-top: 15px; padding-bottom: 15px;">
        <div class="row">
            <div class="dash-section col-md-6">
                <h4><a href="~/Animal/Index" onclick="spinme()">Manage Animals</a></h4>
                <ul>
                    <li>
                        View all animals in your herd.
                    </li>
                    <li>
                        Add an animal to your herd.
                    </li>
                </ul>
            </div>
            <div class="dash-section col-md-6">
                <h4><a href="~/Transaction/Index" onclick="spinme()">Manage Transactions</a></h4>
                <ul>
                    <li>
                        View past transactions.
                    </li>
                    <li>
                        Add a new transaction.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="dash-section col-md-6">
                <h4><a href="~/Associate/Index" onclick="spinme()">Manage Business Contacts</a></h4>
                <ul>
                    <li>
                        Store business contacts that you have worked with.
                    </li>
                    <li>
                        View all contacts previously stored.
                    </li>
                </ul>
            </div>
            <div class="dash-section col-md-6">
                <h4><a href="~/Treatment/Index" onclick="spinme()">Manage Medical Treatments</a></h4>
                <ul>
                    <li>
                        View animal treatment history.
                    </li>
                    <li>
                        View medicine dosage.
                    </li>
                    <li>
                        Add a new health treatment.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="dash-section col-md-6">
                <h4><a href="~/Breeding/Index" onclick="spinme()">Manage Breeding and Birth Records</a></h4>
            <ul>
                <li>
                    View breeding and birth records.
                </li>
                <li>
                    Add a new breeding record.
                </li>
                <li>
                    Add births resulting from a breeding.
                </li>
            </ul>
        </div>
            <div class="dash-section col-md-6">
                <h4><a href="~/Home/Summary" onclick="spinme()">Generate Summary</a></h4>
                <ul>
                    <li>
                        Generate reports of your herd.
                    </li>
                    <li>
                        Export to excel.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4><a href="~/Animal/Offspring" onclick="spinme()">Offspring Performance</a></h4>
                <ul>
                    <li>
                        Compare average daily gains of all animals.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
        @if (User.IsInRole("admin"))
        {
            <div class="col-md-12">
                <h3 class="dash-section" style="text-align:center;">Administrative Functions</h3>
</div>
            <div class="dash-section col-md-6">
                <h4><a href="~/Account/CreateAdmin" onclick="spinme()">Add Admin Account</a></h4>
                <ul>
                    <li>
                        Add another admin account.
                    </li>
                    <li>
                        Admins can see all data and can create other admins.
                    </li>
                </ul>
            </div> 
        }
        @if (User.IsInRole("admin"))
        {
            <div class="dash-section col-md-6">
                <h4><a href="~/Comments/Index" onclick="spinme()">View Comments</a></h4>
                <ul>
                    <li>
                        View user feedback.
                    </li>
                </ul>
            </div>
        }
        </div>
    <div class="row">
        @if (User.IsInRole("admin"))
        {
        <div class="dash-section col-md-6">
            <h4><a href="~/License/Edit/1" onclick="spinme()">Edit License Agreement</a></h4>
            <ul>
                <li>
                    View the current license agreement.
                </li>
                <li>
                    Edit the license agreement.
                </li>
            </ul>
        </div>
        <div class="dash-section col-md-6">
            <h4><a href="~/Account/All" onclick="spinme()">View All Users</a></h4>
            <ul>
                <li>
                    View all users that have signed up for an account.
                </li>
                <li>
                    See information about each user's herd.
                </li>
            </ul>
        </div>
        }
    </div>
    <div class="row">
        @if (User.IsInRole("admin"))
        {
        <div class="dash-section col-md-6">
            <h4><a href="~/FAQ/Index" onclick="spinme()">Edit FAQ's</a></h4>
            <ul>
                <li>
                    View the current FAQ's and edit them.
                </li>
                <li>
                    Create a new FAQ
                </li>
            </ul>
        </div>
        }
    </div>
</div>
</div>
<script type="text/javascript" src="~/Scripts/spin.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#active-dashboard").addClass("active");      
    });
    function spinme() {
        document.getElementById('spinner').style.opacity = 0.5;
        var opts = {
            lines: 13, // The number of lines to draw
            length: 20, // The length of each line
            width: 10, // The line thickness
            radius: 60, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50%', // Top position relative to parent
            left: '50%' // Left position relative to parent
        };
        var target = document.getElementById('spinner');
        var spinner = new Spinner(opts).spin(target);
    }
</script>
