@{
    ViewBag.Title = "Error";
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}

<div class=" = container">
    <h2>
        Oops, something went wrong. Please try again later.
    </h2>
    <br />
    <br />
    <h4>
        If the problem persists, please contact farmsdatabase@gmail.com.
    </h4>
</div>
