@{
   ViewBag.Title = "Feedback Received";
    Layout = @Url.Content("~/Views/Shared/_PublicLayout.cshtml");
}

<div class="container" style="padding-top:80px;">
    <div class="jumbotron">
        <h1>Thank you!</h1>
        <br /> 
        <p>Your feedback has been submitted and is greatly appreciated.</p>
        <br />        
        <p>We sincerely want to provide the best experience possible for our users.</p>
        <br />
        <p>
            <a class="btn btn-success btn-lg" href="~/Home/Index" role="button">Back to Home</a>
        </p>
    </div>   
</div>