@{
    ViewBag.Title = "Goat Herd Management";
    Layout = @Url.Content("~/Views/Shared/_PublicLayout.cshtml"); 
}

<div class="container" style="padding-top:100px; padding-bottom:50px;">
    <div class="row" style="height:275px; border:solid; border-color:white; background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRji8qjPfbFgLVyB9zKyqCIZQ6EdjEK8FugObCdgwISRgKU9DikvQ)">
        <div class="col-md-4 col-lg-offset-1" style="align-content:center; padding-top:36px;">
            <h1><b>Herd management that's affordable and easy to use</b></h1>
            <h3 style="text-align:right; color:darkblue">See our short video &#8594</h3>
        </div>
        <div class="col-md-3 col-lg-offset-2" style="align-content:flex-end;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQR4VIJgs5Ew-5TZ1t0AmPRDReZF3jAZmroI_gcFeCiooDMBhgUg" style="width:450px; height:250px; padding-top:15px; padding-right:20px;" />
        </div>
    </div>
    <div class="row" style="padding-bottom:50px; padding-top:25px;">
        <div class="col-md-6 info-block">
            <h3 style="text-align:center; color:forestgreen;"><b>Why Record Data?</b></h3>
            <ul style="margin-left:30px; line-height:40px; font-size: 20px;">
                <li>Easy to measure herd productivity</li>
                <li>No more guessing</li>
                <li>Quickly visualize or summarize your records</li>
                <a href="~/Home/About">Learn more about why record keeping is important&nbsp;›</a>
            </ul>
        </div>

        <div class="col-md-6 info-block">
            <h3 style="text-align:center; color:forestgreen;"><b>Join the Herd</b></h3>
            <ul style="margin-left:30px; line-height:40px; font-size: 20px;">
                <li>Anyone who wants to manage thier herd efficiently</li>
                <li>Easy and affordable to use</li>
                <li>Maximize efficiency of your herd</li>
                <a href="~/Account/Register">Join the herd today&nbsp;›</a>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#active-home").addClass("active");
    });
</script>