@{
    ViewBag.Title = "Goat Herd Management";
    Layout = @Url.Content("~/Views/Shared/_PublicLayout.cshtml"); 
}

<div class="container" style="padding-top:100px; padding-bottom:50px;">
            <div class="row" style="min-height: 275px; border:solid; border-color:white; background-image:url(/Content/imgs/paleGoat.jpg); background-position:center; background-size: cover;">
                <div class="col-md-4 col-md-offset-1" style="align-content:center; padding-top:36px;">
                    <h1><b>Herd management that's affordable and easy to use</b></h1>
                    <h3 style="text-align:right; color:darkblue">See our short video &#8594</h3>
                </div>
                <div class="col-md-4 col-md-offset-2" style="align-content:flex-end; padding-top:15px; padding-bottom:15px;">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ujac8wi39vw"></iframe>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom:50px; padding-top:25px;">
                <div class="col-md-6 info-block">
                    <h3 style="text-align:center; color:forestgreen;"><b>Why Record Data?</b></h3>
                    <ul style="margin-left:0px; line-height:40px; font-size: 20px; text-align:left;">
                        <li>Easy to measure herd productivity</li>
                        <li>No more guessing</li>
                        <li>Quickly visualize or summarize your records</li>
                        <a href="~/Home/About">Learn more about why record keeping is important&nbsp;›</a>
                    </ul>
                </div>

                <div class="col-md-6 info-block">
                    <h3 style="text-align:center; color:forestgreen;"><b>Join the Herd</b></h3>
                    <ul style="margin-left:0px; line-height:40px; font-size: 20px;">
                        <li>Anyone who wants to manage their herd efficiently</li>
                        <li>Easy and affordable to use</li>
                        <li>Maximize efficiency of your herd</li>
                        <a href="~/Account/Register">Join the herd today&nbsp;›</a>
                    </ul>
                </div>
            </div>
        </div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#active-home").addClass("active");
    });
</script>