@{
    ViewBag.Title = "FarmsConnect";  
}
<div class="row">
    <div class="col-lg-3 col-lg-push-9" style="padding-top:5%">
        <img src="http://i.ytimg.com/vi/QL6Ws4i07is/hqdefault.jpg" class="img-responsive img-thumbnail" alt="Image Not Found" style="height:300px; width:300px">
    </div>
    <div class="col-lg-9 col-lg-pull-3">
        <div class="jumbotron" style="background-color:darkgray;">
            <h1>FarmsConnect</h1>
            <p class="lead">
            FarmsConnect is an easy and efficient way for farmers to keep track of their herd and compare
            with others. With an easy to use interface and solid underlying technology, FarmsConnect can
            help you record, manage, and compare all of your records at an affordable price.
            </p>
            <p><a href="http://www.auburn.edu/~nadarka/" class="btn btn-primary btn-large">Learn more about Dr. Nadarajah &raquo;</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2>Getting started</h2>
            </div>
            <div class="panel-body">
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
            </div>
            <div class="panel-footer">
                <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>Get more libraries</h2>
            </div>
            <div class="panel-body">
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            </div>
            <div class="panel-footer">
                <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2>Web Hosting</h2>
            </div>
            <div class="panel-body">
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            </div>
            <div class="panel-footer">
                <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    </div>