
@{
    ViewBag.Title = "Pricing";
    Layout = @Url.Content("~/Views/Shared/_PublicLayout.cshtml"); 
}



<div class="container" style="padding-top: 35px;">
    <h1 style="padding-top:10px;">Pricing</h1>
    <hr style="border-color:darkgray;" />
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#active-pricing").addClass("active");
        $("#layout-header").css({ "background-image": "url(/Content/imgs/pricingHeader.png)"});
    });
</script>
    </div>
